*{
    margin: 0; padding: 0;
}

#cards{
    width: 650px;
    margin: 0 auto; 
    overflow: hidden;
    padding-top: 10px;
}

#image{
}

#name{
    text-align: center;
}

#detail{
    text-align: center;
}

article{
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}